body{
    background-color: rgb(11, 231, 231);
    font-style: italic;
    border: 8px solid black;
    padding: 10px; 
    margin: 0;
}
td{
    background-color: chocolate;
}

table *:hover {
    font-size: 110%;
    transition: font-size 0.2s ease;
}

